.home-page {
  .welcome {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    div {
      display: inline-block;
      width: 30%;
    }

    li::before {
      color: #248C8D;
      content: '\25AA';
      padding-right: 10px;
    }
  }

  .about {
    background: #1E2956;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    div {
      color: #FFF;
      display: inline-block;
      width: 40%
    }

    div:last-child {
      width: 100%;
      align-self: flex-end;
      font-style: italic;
      text-align: center;
    }
  }
}