.eft {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  div {
    width: 45%;

    p {
      margin-top: 10px;
    }
    
    .small-text {
      font-size: 10px;
    }
  }

  span {
    font-weight: bold;
  }
}